
	<div class="title-bg-grey">
		<div class="title-main">Become a <span>Model</span></div>
	</div>
	<div class="about-home"  #aboutContainer id="aboutContainer">
		<div class="row" style="margin-right: 0px">
		<div class="col-md-7 bg-cover"[style.backgroundImage]="'url('+ image +')'" #bgEle id="bgEle" >
			<img src="images/img1.jpg">
		</div>
		<div class="col-md-5" >
			<h3>Girls2talk2.com Models Wanted!</h3>
			<div class="txt-about-home">
			<p>Modeling with Girls2Talk2.com is an exciting way to make good money from the comfort and safety of your home.  All you need is a computer, a stable internet connection, and your sexy flirtatious self..</p>
			<p>You will not be an employee, nor a contractor. You are a self employed business owner who uses the services of Girls2Talk2.com to handle all billing, time accounting and voice connections.  Your anonymity is assured. Set your own hours, set you own per token rates. Login and log out at your discretion.  For more information email us at Girls2Talk2help@gmail.com</p>
			</div>
			<a [routerLink]="['/register-model']" class="join-us">JOIN US</a>
		</div>
		</div>
	</div>